[user]
	name = phoenix-error
	email = 42442490+phoenix-error@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[credential]
	helper = osxkeychain

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[rerere]
	enabled = true

[diff]
	algorithm = histogram

[merge]
	conflictStyle = zdiff3

[core]
	excludesFile = ~/.config/git/ignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
